body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
.section {
    display: none;
}
.active {
    display: block;
}
.welcome {
    padding: 20px;
}
.game-boxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}
.box {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.keyboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;    
    margin: 20px auto;
}
.key {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
.key:active {
    background-color: #bbb;
}
.level {
    margin-top: 10px;
    font-weight: bold;
}

.game-controls {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.shake {
    animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
    color: #dc3545;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-in {
    animation: fadeIn 0.5s forwards;
    color: #4caf50;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.key-highlight {
    background-color: #4189f5 !important;
    border-color: #0d6efd !important;
    color: white;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0px 0px 4px 0px #00c4ff;
}

.key-highlight-backspace {
    background-color: #f74253 !important;
    border-color: #dc3545 !important;
    color: white;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0px 0px 4px 0px #ff4254;
}

/* Ocultar el ícono de "check" por defecto */
.check-icon {
    display: none;
}

/* Mostrar el ícono de "check" en la opción seleccionada */
.list-group-item.active .check-icon {
    display: inline-block;
}